body {
    font-family: 'roboto', sans-serif, monospace;
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,.footer,.hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    flex: 0 0 auto;
}

.header .logo {
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 32px;   
}

.header-links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

#hero-text {
    color: #E5E7EB;
    font-size: 18px;
}

.hero {
    display: flex;
    padding: 72px 100px;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
}

.hero-left {
    /*display: flex;
    flex-direction: column; */
    width: 400px;
    /*flex: 0 0 auto; */
}

.hero-left .title {
    font-size: 48px;
    font-weight: 900;
}

button {
    background-color: #3882F6;
    padding: 8px 32px;
    border-radius: 8px;
    border-width: 0px;
    color: #F9FAF8;
    font-size: 18px;
}

.info {
    justify-content: center;
    color: #1F2937;
    flex: 1;
}

.info-header {
    font-size:36px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.col {
    max-width:100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.col img {
    height: 98px;
    width: 98px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}